@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #464655;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #2b2b50;
    margin: 20px;
    padding: 5px;
    height: 70px;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 1px #161629;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.prompt {
    height: 55px;
    font-size: 1.1em;
    margin: 1px;
}

.submit-prompt:hover {
    border: 2px solid #21213d;
    transition: all .1s;
    background-color: #2b2b50;
    color: white;
}

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    cursor: pointer;
    font-size: 0.85em;
}

li {
    margin: 1px;
}

ul.pretas {
    position: absolute;
    transform: translate(-3px, -30px);
}

ul.brancas {
    background-color: black;
    padding: 32px 12px 12px 12px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 5px black;
}

ul.pretas>li {
    width: 20px;
    height: 120px;
    background-color: black;
    margin: 9px;
}

ul.pretas>li.espaco {
    margin-right: 36.6px;
}

ul.brancas>li {
    width: 33px;
    height: 200px;
    background-color: white;
    padding-top: 180px;
    text-align: center;
}

ul.brancas>li:hover {
    background-color: rgb(190, 190, 190);
}

ul.pretas>li:hover {
    box-shadow: 0px 0px 7px 1px black;
}

@media screen and (max-width:1290px) {
    body {
        scale: 0.6;
    }
}

@media screen and (max-width:770px) {
    body {
        scale: 0.3;
    }
}